
:root{
--gold:#C89933;
--frgreen:#134220;
--dollargr:#85bb65;
}

header, h1{
    background-color: #134220;
    color: white;
    font-family: 'lexen';
    text-align: center;
    font-size: 50px;
    margin: 15px;
}

img {
    width: 100%;
}

h2 {
    font-size: 36px;
    display: inline-block;
}

body{
 font-family: 'dollarbill, comic sans';
}

section, h2 {
    margin: 15px;
}

/*
   Id's
*/

#total-amount {
    display: inline;
}