
:root{
--gold:#C89933;
--frgreen:#134220;
--dollargr:#85bb65;

}


header{
font-family: var(--font);
color:var(--navy);
text-shadow: 1px 1px var(--nshadow);
position: relative;
top: 45px;
}



h2{
font-family: var(--font);
color: var(--navy);
text-shadow: 1px 1px var(--nshadow);
position: relative;
top: 150px;
}

