:root{
    --gold:#C89933;
    --frgreen:#134220;
    --dollargr:#85bb65;
    
    }
    h1{
    font-family: 'lexen';
    color: #C89933;
    
    }
    body{
     font-family: 'dollarbill, comic sans';
     color: #134220;
    }
